{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>sample2</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/734607e75f.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url ''%}">sample2</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
            aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url ''%}">top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index'%}">online</a>
                </li>
            </ul>

            <ul class="navbar-nav col-auto">
                {% if request.user.id != message.author.id %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-shoe-prints" style="color: rgb(160, 207, 90); padding-right: 5px;"></i>profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:logout'%}"><i class="fas fa-shoe-prints" style="color: rgb(160, 207, 90); padding-right: 5px;"></i>logout</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'admin:login' %}"><i class="fas fa-shoe-prints" style="color: rgb(160, 207, 90); padding-right: 5px;"></i>login</a>    
                </li>
                <li>
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-shoe-prints" style="color: rgb(160, 207, 90); padding-right: 5px;"></i>signup</a>   
                </li>
                {% endif %}
                {% if request.user.id != message.author.id and request.user.user_or_owner == 0 %} 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index'%}"><i class="fas fa-shoe-prints"></i>owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shipment'%}"><i class="fas fa-shoe-prints"></i>shipment list</a>
                </li>
                {% endif %}
            </ul>

            </div>
        </div>
    </nav>

    {% block content %} 
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static "app/js/plugins/responsive-paginate.js" %}"></script>
    <script src="{% static "app/js/app.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(event){
        $(document).on('click', '#buys', function(event){
           event.preventDefault();
           var item_id = $(this).attr('value');
           $.ajax({
           type: 'POST',
           url: '{% url "buys" %}',
           data: {'item_id': item_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
           dataType: 'json',
           success: function(response){
             $('#buys').html(response['form'])
             console.log($('#buys').html(response['form']));
           },
           error: function(rs, e){
             console.log(rs.responseText);
           }
          });
        });
       });
    </script>

</body>

</html>
