{% extends "./_base.html" %}
{% block content %} 
{% load crispy_forms_tags %}
<div class="container">

    <a class="btn btn-outline-secondary" href="{% url 'info_create' %}">create</a>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for info in info_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <p>name</p>
                        </div>
                        <div class="col-9">
                            <p>{{ info.name }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <a class="btn btn-outline-secondary " href="{% url 'info_detail' info.pk %}">descript</a>
                                <a class="btn btn-outline-secondary " href="{% url 'info_update' info.pk %}">edit</a>
                                <a class="btn btn-outline-secondary " href="{% url 'info_delete' info.pk %}">delete</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    empty
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}