{% extends "./_base.html" %}
<!--  -->
{% block content %}
<div class="container">
    <h2 class="text-center">data delete</h2>
    <p>do you wanna delete？</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url '' %}">back</a>
                    <input type="submit" class="btn btn-outline-secondary" value="delete" />
                </div>
            </div>
        </div>
        {% include "./info_card.html" %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url '' %}">back</a>
                    <input type="submit" class="btn btn-outline-secondary" value="delete" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}